<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
 
	<meta charset="UTF-8"/>
	   <title>个人主页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="A simple jQuery image cropping plugin."/>
  <meta name="author" content="Chen Fengyuan"/>
  <title>Cropper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/UserCss/cropper.css"/>
  <link rel="stylesheet" href="../css/UserCss/main.css"/>     
        <!-- CSS -->
        <link href="../css/UserCss/bootstrap.min.css" rel="stylesheet"/>
        <link href="../css/UserCss/animate.min.css" rel="stylesheet"/>
        <link href="../css/UserCss/font-awesome.min.css" rel="stylesheet"/>
        <link href="../css/UserCss/form.css" rel="stylesheet"/>
        <link href="../css/UserCss/calendar.css" rel="stylesheet"/>
        <link href="../css/UserCss/style.css" rel="stylesheet"/>
        <link href="../css/UserCss/icons.css" rel="stylesheet"/>
        <link href="../css/UserCss/generics.css" rel="stylesheet"/> 
        <link href="../css/UserCss/Image.css" rel="stylesheet"/> 
     
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="../js/jquery.min.js"></script> 
        <script src="../js/cropper.js"></script>
        <script src="../js/main.js"></script>
       
   
         
      
        
     
        <script src="../js/FollowAndLike.js"></script>
        
    
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://fengyuanchen.github.io/js/common.js"></script>
  
 
    </head>
    <body id="skin-blur-violate">
        <div class="Image-body"> </div>
        <header id="header" class="media">
            <a href="" id="menu-toggle" ></a> 
            <a class="logo pull-left" href="/index">首页</a>
           
            <div class="media-body">
                <div class="media" id="top-menu">
                    <div class="pull-left tm-icon">
                        <a data-drawer="messages" class="drawer-toggle" href="">
                            <i class="sa-top-message"></i>
                            <i class="n-count animated">5</i>
                            <span>Messages</span>
                        </a>
                    </div>
                    <div class="pull-left tm-icon">
                        <a data-drawer="notifications" class="drawer-toggle" href="">
                            <i class="sa-top-updates"></i>
                            <i class="n-count animated">9</i>
                            <span>Updates</span>
                        </a>
                    </div>
                    
                    <div id="weather" class="animated pull-right"></div>

                    <div id="time" class="pull-right">
                        <span id="hours"></span>
                        :
                        <span id="min"></span>
                        :
                        <span id="sec"></span>
                    </div>

                    <div class="media-body">
                        <input type="text" class="main-search" />
                    </div>
                </div>
            </div>
        </header>
        
        <div class="clearfix"></div>
     
        <section id="main" class="p-relative" role="main">
            
            <!-- Sidebar -->
            <aside id="sidebar">
                
                <!-- Sidbar Widgets -->
                <div class="side-widgets overflow">
                    <!-- Profile Menu -->
                    <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                        <a href="" data-toggle="dropdown">
                            <img class="profile-pic animated"    id="HeadImage1"  th:attr=" src=@{${usermsgID.IMAGE}}" />
                        </a>
                       
                        <h4 class="m-0" th:text="${usermsgID.NAME}"></h4>
                        <h4 class="m-0" id="usermsg" th:text="${usermsgID.ID}" style="display:none;"></h4>
                    </div>
                    
                    <!-- Calendar -->
                    <div class="s-widget m-b-25">
                        <div id="sidebar-calendar"></div>
                    </div>
                    
                    <!-- Feeds -->
                    <div class="s-widget m-b-25">
                        <h2 class="tile-title">
                           News Feeds
                        </h2>
                        
                        <div class="s-widget-body">
                            <div id="news-feed"></div>
                        </div>
                    </div>
                    
                    <!-- Projects -->
                  
                </div>
                
                <!-- Side Menu -->
                 <div th:include="thymeleaf/User/MainTitle  :: MainTitle " th:remove="tag"></div>
                
            </aside>
        
            <!-- Content -->
            <section id="content" class="container">
            
                <!-- Messages Drawer -->
                <div id="messages" class="tile drawer animated">
                    <div class="listview narrow">
                        <div class="media">
                            <a href="">Send a New Message</a>
                            <span class="drawer-close">&times;</span>
                            
                        </div>
                        <div class="overflow" style="height: 254px">
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="../css/img/profile-pics/1.jpg" alt="" />
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Nadin Jackson - 2 Hours ago</small><br/>
                                    <a class="t-overflow" href="">Mauris consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus</a>
                                </div>
                            </div>
                    
                        </div>
                        <div class="media text-center whiter l-100">
                            <a href=""><small>VIEW ALL</small></a>
                        </div>
                    </div>
                </div>
                
                <!-- Notification Drawer -->
                <div id="notifications" class="tile drawer animated">
                    <div class="listview narrow">
                        <div class="media">
                            <a href="">Notification Settings</a>
                            <span class="drawer-close">&times;</span>
                        </div>
                        <div class="overflow" style="height: 254px">
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="../css/img/profile-pics/1.jpg" alt="" />
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Nadin Jackson - 2 Hours ago</small><br/>
                                    <a class="t-overflow" href="">Mauris consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus</a>
                                </div>
                            </div>
                         
                           
                           
                           
                        </div>
                        <div class="media text-center whiter l-100">
                            <a href=""><small>VIEW ALL</small></a>
                        </div>
                    </div>
                </div>
                
                <!-- Breadcrumb -->
                <ol class="breadcrumb hidden-xs">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>
                
                <h4 class="page-title">MALLINDA HOLLAWAY'S PROFILE</h4>
                
                <div class="block-area">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="tile-light p-5 m-b-15">
                                <div class="cover p-relative">
                                    <img src="../css/img/cover-bg.jpg" class="w-100  cd-popup-trigger2" alt=""   />
                                    <img class="profile-pic  cd-popup-trigger2" th:attr=" src=@{${usermsgID.IMAGE}}" alt=""  id="HeadImage2" />
                                    <div class="profile-btn">
                                        <button class="btn btn-alt btn-sm"><i class="icon-bubble"></i> <span th:unless="${isfollow eq null}" id="follow" onclick="LikeAndFollow('1')">已关注</span><span th:if="${isfollow eq null}" id="follow"  onclick="LikeAndFollow('1')">关注</span></button>
                                         <button class="btn btn-alt btn-sm"><i class="icon-bubble"></i> <span th:unless="${islike eq null}" id="like" onclick="LikeAndFollow('2')"> 已喜欢</span><span th:if="${islike eq null}" id="like" onclick="LikeAndFollow('2')"> 喜欢</span>  </button>
                                    </div>
                                </div>
                                <div class="p-5 m-t-15">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget risus rhoncus, cursus purus vitae, venenatis eros. Phasellus at tincidunt risus. Integer sed massa fermentum, feugiat arcu quis, ultrices nisi. Quisque commodo nisi scelerisque, tempus diam ac, dignissim tellus. Mauris adipiscing elit tortor, dignissim auctor diam mollis sed. Nulla eu dui non velit accumsan scelerisque eget et felis.
                                </div>
                            </div>
                            
                            <div class="m-b-15 text-center profile-summary">
                                <button class="btn btn-sm" th:text="${pageutil2.Total}+'   关注'"> 关注</button>
                                <button class="btn btn-sm" th:text="${followedsize}+'   被关注'"> 被关注</button>
                                <button class="btn btn-sm hidden-xs">120 文章</button>
                                <button class="btn btn-sm hidden-xs" th:text="${TOIDISLIKEfnums} +'   喜欢'">165 喜欢</button>
                            </div>
                            
                            <div class="row">
                                <!-- Works -->
                                
                                
                                
                                <div class="col-md-5">
                                    <div class="tile">
                                        <h2 class="tile-title">关注信息</h2>
                                        <div class="tile-config dropdown">
                                            <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="" data-original-title="Options"></a>
                                            <ul class="dropdown-menu pull-right text-right"> 
                                                <li><a href="">Edit</a></li>
                                                <li><a href="">Delete</a></li>
                                            </ul>
                                        </div>
                                        
                                        <div class="listview narrow">
                                            <div class="media" th:each="articlecomment :${pageutil1.list}">
                                                <div class="pull-right">
                                                    <img width="37" th:attr="src=@{${articlecomment.usermsg.IMAGE}}" alt="" /> 
                                                </div>
                                                <div class="media-body">
                                                     <a class="news-title underline" th:href="@{'/User/index?ID='+${articlecomment.usermsg.ID}}"  th:text="${articlecomment.usermsg.NAME} ">Mitchell Christein</a>
                                                     <a class="news-title underline" th:href="@{'/info?ID='+${articlecomment.articlecomment.ARTICLEID}}"  th:text="${articlecomment.articlecomment.CONTENT}">Mitchell Christein</a>
                                                 
                                                    <div class="clearfix"></div>
                                                    <small class="muted">today</small>
                                                </div>
                                            </div>
                                        
                                         
                                            <div class="media p-5 text-center l-100">
                                                <a href=""><small>VIEW ALL</small></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                
                                <div class="col-md-5">
                                    <div class="tile">
                                        <h2 class="tile-title">我的关注</h2>
                                        <div class="tile-config dropdown">
                                            <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="" data-original-title="Options"></a>
                                            <ul class="dropdown-menu pull-right text-right"> 
                                                <li><a href="">Edit</a></li>
                                                <li><a href="">Delete</a></li>
                                            </ul>
                                        </div>
                                        
                                        <div class="listview narrow">
                                            <div class="media" th:each=" usermsglist:${pageutil2.list}">
                                                <div class="pull-right">
                                                    <img width="37" th:attr=" src=@{${usermsglist.IMAGE}}" src="../css/img/profile-pics/1.jpg" alt="" />
                                                </div>
                                                <div class="media-body">
                                                    <a class="news-title underline"  th:href="@{'/User/index?ID='+${usermsglist.ID}}" th:text="${usermsglist.NAME}"></a>
                                                    <div class="clearfix"></div>
                                                    
                                                </div>
                                            </div>
                                        
                                         
                                            <div class="media p-5 text-center l-100">
                                                <a href=""><small>VIEW ALL</small></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-md-3">
                            
                            <!-- About Me -->
                            <div class="tile">
                                <h2 class="tile-title">关于我</h2>
                                <div class="tile-config dropdown">
                                    <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="" data-original-title="Options"></a>
                                    <ul class="dropdown-menu pull-right text-right"> 
                                        <li><a href="">Edit</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                </div>
                                
                                <div class="listview icon-list">
                                    <div class="media">
                                        <i class="icon pull-left">&#61744;</i>
                                        <div class="media-body">Software Developer at Google</div>
                                    </div>
                                    
                                    <div class="media">
                                        <i class="icon pull-left">&#61753;</i>
                                        <div class="media-body">Studied at Oxford University</div>
                                    </div>
                                    
                                    <div class="media">
                                        <i class="icon pull-left">&#61713;</i>
                                        <div class="media-body">Lives in Saturn, Milkyway</div>
                                    </div>
                                    
                                    <div class="media">
                                        <i class="icon pull-left">&#61742;</i>
                                        <div class="media-body">From Titan, Jupitor</div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Friends -->
                            <div class="tile">
                                <h2 class="tile-title">访问者</h2>
                                <div class="tile-config dropdown">
                                    <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="" data-original-title="Options"></a>
                                    <ul class="dropdown-menu pull-right text-right"> 
                                        <li><a href="">Edit</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                </div>
                                
                                <div class="listview narrow">
                                    <div class="media p-l-5">
                                        <div class="pull-left">
                                            <img width="37" src="../css/img/profile-pics/1.jpg" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <a class="news-title" href="">Mitchell Christein</a>
                                            <div class="clearfix"></div>
                                            <a href=""><small class="text-muted">Unfriend</small></a>
                                        </div>
                                    </div>
                                  
                                  
                                    
                                    <div class="media p-5 text-center l-100">
                                        <a href=""><small>VIEW ALL</small></a>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Photos -->
                            <div class="tile">
                                <h2 class="tile-title">Photos</h2>
                                <div class="tile-config dropdown">
                                    <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="" data-original-title="Options"></a>
                                    <ul class="dropdown-menu pull-right text-right"> 
                                        <li><a href="">Edit</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                </div>
                                
                                <div class="p-5 photos">
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/1.jpg" alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/2.jpg" alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/3.jpg" alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/4.jpg"  alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/5.jpg" alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/6.jpg" alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/2.jpg" alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/5.jpg" alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/1.jpg" alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/3.jpg" alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/4.jpg" alt="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="../css/img/profile-pics/6.jpg" alt="" />
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <br/><br/><br/>
                </div> 
            </section>
        </section>
        <div class="cd-popup2" id="cd-popup2">
    <div class="cd-popup-container2">
    
        <div class="cd-buttons" id="cd" th:include="thymeleaf/User/cropper :: cropper" th:remove="tag">
          
        </div>
        <a href="#0" class="cd-popup-close" style="color:red">close</a>
    </div>
</div>
        
        
        <script type="text/javascript">
        		//打开窗口
           jQuery(document).ready(function($){
        $('.cd-popup-trigger2').on('click', function(event){
            event.preventDefault();
            $('.cd-popup2').addClass('is-visible2');
            //$(".dialog-addquxiao").hide()
        });
        //关闭窗口
        $('.cd-popup2').on('click', function(event){
            if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup2') ) {
                event.preventDefault();
                $(this).removeClass('is-visible2');
            }
        });
        //ESC关闭
        $(document).keyup(function(event){
            if(event.which=='27'){
                $('.cd-popup2').removeClass('is-visible2');
            }
        });
        });
        
        </script>
        <!-- Javascript Libraries -->
        <!-- jQuery -->
       <!-- jQuery Library -->
        
        <!-- Bootstrap -->
        <script src="../js/bootstrap.min.js"></script>
        
        <!-- UX -->
        <script src="../js/scroll.min.js"></script> <!-- Custom Scrollbar -->
        
        <!-- Other -->
        <script src="../js/calendar.min.js"></script> <!-- Calendar -->
        <script src="../js/weather.min.js"></script> <!-- Weather -->
        <script src="../js/feeds.min.js"></script> <!-- News Feeds -->
        
        <!-- All JS functions -->
        <script src="../js/functions.js"></script>
    </body>
</html>

