<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>

<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/comment.css"/>
</head>
<body>
<div th:fragment="Comment">
<div class="commentAll" id="main">

    <div class="reviewArea clearfix">
       
        <textarea class="content comment-input" placeholder="Please enter a comment&hellip;" onkeyup="keyUP(this)" name="comment" id="comment"></textarea>
         <input class="plBtn" th:value="${articles.ID}"  name="ARTICLEid" type="text" style="display:none; " id="ARTICLEid" />
         <a href="javascript:;" class="plBtn" >评论</a><!-- onclick="comment()" -->
     
       
    </div>
 
 
    <div class="comment-show"  >
        <div class="comment-show-con clearfix" th:each=" articlecommentuserandcommentList :${articlecommentuserandcommentList.list}">
            <div class="comment-show-con-img pull-left"><img src=""  /></div>
            <div class="comment-show-con-list pull-left clearfix">
                <div class="pl-text clearfix">
                    <a href="#" class="comment-size-name" th:text="${articlecommentuserandcommentList.usermsg.NAME}">张三 : </a>
                     <a href="#" class="comment-size-ID" style="display:none;" th:text="${articlecommentuserandcommentList.articlecomment.ID}">张三 : </a>
                    <span class="my-pl-con"  th:text="${articlecommentuserandcommentList.articlecomment.CONTENT}" >&nbsp;来啊 造作啊!</span>
                </div>
                <div class="date-dz">
                    <span class="date-dz-left pull-left comment-time" th:text="${articlecommentuserandcommentList.articlecomment.TIME}">2017-5-2 11:11:39</span>
                    <div class="date-dz-right pull-right comment-pl-block">
                        <a href="javascript:;" class="removeBlock">删除</a>
                        <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left"  >回复</a>
                        <span class="pull-left date-dz-line">|</span>
                        <a href="javascript:;" class="date-dz-z pull-left"  ><i class="date-dz-z-click-red"></i>赞 (<i class="z-num" th:text="${articlecommentuserandcommentList.articlecomment.PRAISENUMS}">666</i>)</a>
                    </div>
                </div>
              
                <div class="hf-list-con"  th:unless="${articlecommentuserandcommentList.articleuserandcommentlist == null}">
             
    
                   <div class="all-pl-con" th:each=" List : ${articlecommentuserandcommentList.articleuserandcommentlist.list} ">
                      <div class="pl-text hfpl-text clearfix"><a href="#" class="comment-size-name" th:text="${List.usermsg.NAME}" ></a>
                         <a href="#" class="comment-size-ID" style="display:none;" th:text="${List.usermsg.ID}" > </a>
                         <a href="#" class="comment-size-articlecomment-ID" style="display:none;" th:text="${List.articlecomment.ID}" ></a>
                         <span class="my-pl-con" th:text="${List.articlecomment.CONTENT}"> <!-- th:text="${List.USERMSG.NAME}" -->
						  </span></div><div class="date-dz"> <span class="date-dz-left pull-left comment-time" th:text="${List.articlecomment.TIME}">
						  </span> <div class="date-dz-right pull-right comment-pl-block"> <a href="javascript:;" class="removeBlock">删除</a> <a href="javascript:;" class="date-dz-pl pl-hf1 hf-con-block pull-left">回复</a>
						   <span class="pull-left date-dz-line">|</span> <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num" th:text="${List.articlecomment.PRAISENUMS}">
						  
						  </i>)</a> </div> </div></div>
               
               
                </div>
            <div th:replace="thymeleaf/CommentPage1 :: CommentPage1" th:remove="tag"></div>
            </div>
           
          
            </div>
        </div>
    </div>
     </div>





 
 
</body>
</html>
